.DS_Store
*.vsix
*.tsbuildinfo
/extracted
/build
/reextracted
/packages/*/dist
/packages/*/extracted
/packages/*/build
/packages/*/reextracted
/packages/react-editors/dev-site-dist
/lerna-debug.log
node_modules
yarn-error.log
qtagistudio-*

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
