.transparent-backdrop {
  background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.0980392) 25%,
      transparent 25%,
      transparent 75%,
      rgba(0, 0, 0, 0.0980392) 75%,
      rgba(0, 0, 0, 0.0980392) 0
    ),
    linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.0980392) 25%,
      transparent 25%,
      transparent 75%,
      rgba(0, 0, 0, 0.0980392) 75%,
      rgba(0, 0, 0, 0.0980392) 0
    ),
    white;
  background-size: 10px 10px, 10px 10px;
  background-position: 0 0, 5px 5px;
}

.view-editor {
  display: grid;
  grid-template:
    'cel-canvas navigation-controls' 1fr
    'cel-controls navigation-controls' min-content / minmax(320px, 1fr) minmax(200px, 320px);
  gap: 1rem;
  height: 100vh;
}

.view-editor-navigation-controls {
  grid-area: navigation-controls;
  border-left: 1px var(--agikit-panel-border) solid;
  padding: 0.5rem;
}

.view-editor-nav-list {
  margin-bottom: 1rem;
}

.view-editor-nav-list ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0.5rem;
}

.view-editor-nav-list li {
  display: flex;
}

.view-editor-nav-list button.item-number {
  background: none;
  border: none;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  cursor: pointer;
  width: 100%;
  text-align: left;
  flex-grow: 1;
}

.view-editor-nav-list li.current button.item-number {
  background-color: var(--agikit-editorCursor-foreground);
  color: var(--agikit-editor-background);
}

.view-editor-nav-list button.item-number:hover,
.view-editor-nav-list li.current button.item-number:hover {
  background-color: var(--agikit-list-hoverBackground);
  color: var(--agikit-editor-foreground);
}

.view-editor-cel-canvas {
  grid-area: cel-canvas;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-editor-cel-controls {
  grid-area: cel-controls;
  border-top: 1px var(--agikit-panel-border) solid;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view-editor-tools {
  display: flex;
}
