#pic-editor-root {
  margin-block: 0;
}

.pic-editor {
  display: grid;
  grid-template:
    'visual controls' calc(50vh - 0.5em)
    'priority controls' calc(50vh - 0.5em) / minmax(320px, 640px) minmax(200px, 1fr);
  gap: 1em;
}

.pic-editor-visual-area {
  grid-area: visual;
}

.pic-editor-priority-area {
  grid-area: priority;
}

.pic-editor-visual-area,
.pic-editor-priority-area {
  display: flex;
  flex-direction: column;
  padding-top: var(--input-margin-vertical);
  padding-bottom: var(--input-margin-vertical);
}

.pic-editor-canvas-display {
  object-fit: contain;
  flex-grow: 1;
  image-rendering: pixelated;
  cursor: crosshair;
}

.pic-editor-canvas-status-line {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.pic-editor-controls {
  grid-area: controls;
}

.pic-editor-command-list {
  padding-left: 0;
}

.pic-editor-command-list li {
  list-style-type: none;
}

.pic-editor-command-list li:hover {
  background-color: var(--vscode-list-hoverBackground);
}

.pic-editor-command-list li.current {
  border-bottom: 2px var(--vscode-editorCursor-foreground) dashed;
  margin-bottom: 3px;
}

.pic-editor-command-list li.prev-current {
  border-top: 2px var(--vscode-editorCursor-foreground) dashed;
  margin-top: 3px;
}

.pic-editor-command-action-button {
  width: fit-content;
  margin: 1px;
  white-space: nowrap;
}

.pic-editor-color-picker {
  max-width: 30rem;
  display: flex;
  padding: var(--input-padding-vertical) var(--input-padding-horizontal);
  background-color: var(--vscode-editor-background);
  border: 1px var(--vscode-panel-border) solid;
  z-index: 1000;
}
